# Visual Studio
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
[Bb]uilds/
[Bb]in/
[Oo]bj/

# Visual Studio cache files
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# NuGet Packages
packages/
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# OS
.DS_Store
Thumbs.db
